# Ignore datasets and logs
../datasets/BGL/
../datasets/HDFS/
../datasets/HDO_abnormal.log
../datasets/HDO_normal.log
../datasets/Haddop_preparing.py
../datasets/SP/
../datasets/SP_100MB/
../datasets/SP_150MB/
../datasets/S_BGL/
../datasets/TH_10G/
../datasets/TH_1G/
../datasets/TH_2G/
../datasets/TH_5G/
# Spark / Parquet temporary & checksum files
*.crc
*.parquet/.part-*
# Python cache
__pycache__/
*.pyc
*.parquet/

# Spark / PySpark artifacts
tmp/spark-events/

# (Optional) Ignore any spark event logs anywhere
spark-events/

# General temp folders
tmp/
# Python cache
__pycache__/
*.pyc
../drain_parser/__pycache__/
TH_5G_Topic_sentiment_df.parquet/
TH_5G_Topic_sentiment_diff_df.parquet/
TH_5G_Topic_sentiment_diff_semantic_df.parquet/
TH_5G_sentiment_df.parquet/
__pycache__/pyspark_features_extracting.cpython-310.pyc
        ../drain_parser/__pycache__/
BGL_Topic_sentiment_df.parquet/
BGL_Topic_sentiment_diff_df.parquet/
BGL_Topic_sentiment_diff_semantic_df.parquet/
BGL_sentiment_df.parquet/
__pycache__/pyspark_anomaly_detection.cpython-310.pyc
HDFS_Topic_sentiment_df.parquet/
HDFS_Topic_sentiment_diff_df.parquet/
HDFS_Topic_sentiment_diff_semantic_df.parquet/
HDFS_sentiment_df.parquet/
